Repository codesquad-member-2020/todo-8, pull requests merged in 2020-04, with the labels that each got.

#12 전체적인 화면 UI 구현
  iOS/.gitignore
  iOS/TodoApp/TodoApp.xcodeproj/project.pbxproj
  iOS/TodoApp/TodoApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/TodoApp/TodoApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/TodoApp/TodoApp/AppDelegate.swift
  iOS/TodoApp/TodoApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/TodoApp/TodoApp/Assets.xcassets/Contents.json
  iOS/TodoApp/TodoApp/Base.lproj/LaunchScreen.storyboard
  iOS/TodoApp/TodoApp/Base.lproj/Main.storyboard
  iOS/TodoApp/TodoApp/Info.plist
  iOS/TodoApp/TodoApp/SceneDelegate.swift
  iOS/TodoApp/TodoApp/View/AddCardButton.swift
  iOS/TodoApp/TodoApp/View/CardCountLabel.swift
  iOS/TodoApp/TodoApp/ViewController.swift
Labels: iOS

#18 드래그 앤 드랍 기능 구현
  FE/index.html
  FE/src/drag.js
  FE/src/index.html
  FE/src/main.js
  FE/src/style/style.css
Labels: FE

#25 새 카드 추가 화면 UI 구현
  iOS/TodoApp/TodoApp.xcodeproj/project.pbxproj
  iOS/TodoApp/TodoApp/Base.lproj/Main.storyboard
  iOS/TodoApp/TodoApp/EditingCardViewController.swift
  iOS/TodoApp/TodoApp/View/ContentTextView.swift
  iOS/TodoApp/TodoApp/View/TodoCell.swift
Labels: iOS

#33 버튼 이벤트 바인딩
  FE/src/components/HeaderComponent.js
  FE/src/components/MenuComponent.js
  FE/src/controller/controller.js
  FE/src/index.html
  FE/src/main.js
  FE/src/style/style.css
Labels: FE

#35 컬럼에 카드 추가하기 / 버튼 이벤트 바인딩
  FE/src/controller/controller.js
  FE/src/index.html
Labels: FE

#38 컬럼의 갯수가 상단 타이틀에 표시
  FE/src/controller/controller.js
  FE/src/main.js
  FE/src/style/style.css
Labels: FE

#41 목업 API 통신 구현
  iOS/TodoApp/TodoApp.xcodeproj/project.pbxproj
  iOS/TodoApp/TodoApp/Base.lproj/Main.storyboard
  iOS/TodoApp/TodoApp/EditingCard/ContentTextViewDelegate.swift
  iOS/TodoApp/TodoApp/EditingCard/EditingCardViewController.swift
  iOS/TodoApp/TodoApp/EditingCard/View/ContentTextView.swift
  iOS/TodoApp/TodoApp/Model/DataManager.swift
  iOS/TodoApp/TodoApp/Model/NetworkManager.swift
  iOS/TodoApp/TodoApp/Model/TodoData.swift
  iOS/TodoApp/TodoApp/Todo/TodoTableViewDataSource.swift
  iOS/TodoApp/TodoApp/Todo/TodoViewController.swift
  iOS/TodoApp/TodoApp/Todo/View/AddCardButton.swift
  iOS/TodoApp/TodoApp/Todo/View/CardCountLabel.swift
  iOS/TodoApp/TodoApp/Todo/View/TodoCell.swift
  iOS/TodoApp/TodoApp/TodoViewController.swift
  iOS/TodoApp/TodoApp/ViewController.swift
Labels: iOS

#48 피드백 반영
  iOS/TodoApp/TodoApp/Base.lproj/Main.storyboard
  iOS/TodoApp/TodoApp/EditingCard/ContentTextViewDelegate.swift
  iOS/TodoApp/TodoApp/Model/DataManager.swift
  iOS/TodoApp/TodoApp/Model/NetworkManager.swift
  iOS/TodoApp/TodoApp/Model/TodoData.swift
  iOS/TodoApp/TodoApp/Todo/TodoTableViewDataSource.swift
  iOS/TodoApp/TodoApp/Todo/TodoViewController.swift
  iOS/TodoApp/TodoApp/Todo/View/TodoCell.swift
  iOS/TodoApp/TodoApp/ViewController.swift
Labels: iOS

#51 사용자 액션 목록 표시 UI 구현
  iOS/TodoApp/TodoApp/Base.lproj/Main.storyboard
Labels: iOS

#61 카드 수정 기능 구현(Modal)
  FE/src/controller/controller.js
  FE/src/index.html
  FE/src/main.js
  FE/src/style/style.css
Labels: FE

#68 카드 추가, 제거 구현
  iOS/TodoApp/TodoApp.xcodeproj/project.pbxproj
  iOS/TodoApp/TodoApp/Base.lproj/Main.storyboard
  iOS/TodoApp/TodoApp/EditingCard/ContentTextViewDelegate.swift
  iOS/TodoApp/TodoApp/EditingCard/EditingCardViewController.swift
  iOS/TodoApp/TodoApp/EditingCard/EditingViewModel.swift
  iOS/TodoApp/TodoApp/EditingCard/TitleTextFieldDelegate.swift
  iOS/TodoApp/TodoApp/EditingCard/View/ContentTextView.swift
  iOS/TodoApp/TodoApp/Model/DataManager.swift
  iOS/TodoApp/TodoApp/Model/NetworkManager.swift
  iOS/TodoApp/TodoApp/Model/TodoData.swift
  iOS/TodoApp/TodoApp/Todo/TodoTableViewDataSource.swift
  iOS/TodoApp/TodoApp/Todo/TodoViewController.swift
  iOS/TodoApp/TodoApp/ViewController.swift
Labels: iOS

#63 [Todo-8] Han, Ellie 1차 풀리퀘 보내드립니다
  BE/build.gradle
  BE/src/main/java/com/codesquad/todo8/api/ApiError.java
  BE/src/main/java/com/codesquad/todo8/api/ApiResult.java
  BE/src/main/java/com/codesquad/todo8/configure/WebConfig.java
  BE/src/main/java/com/codesquad/todo8/controller/GeneralExceptionHandler.java
  BE/src/main/java/com/codesquad/todo8/controller/HealthCheckRestController.java
  BE/src/main/java/com/codesquad/todo8/controller/JwtInterceptor.java
  BE/src/main/java/com/codesquad/todo8/controller/TodoRestController.java
  BE/src/main/java/com/codesquad/todo8/error/CardNotFoundException.java
  BE/src/main/java/com/codesquad/todo8/error/UserNotFoundException.java
  BE/src/main/java/com/codesquad/todo8/model/Activity.java
  BE/src/main/java/com/codesquad/todo8/model/BoardResponse.java
  BE/src/main/java/com/codesquad/todo8/model/Card.java
  BE/src/main/java/com/codesquad/todo8/model/CardRequest.java
  BE/src/main/java/com/codesquad/todo8/model/Category.java
  BE/src/main/java/com/codesquad/todo8/model/User.java
  BE/src/main/java/com/codesquad/todo8/repository/ActivityRepository.java
  BE/src/main/java/com/codesquad/todo8/repository/CardRepository.java
  BE/src/main/java/com/codesquad/todo8/repository/CategoryRepository.java
  BE/src/main/java/com/codesquad/todo8/repository/UserRepository.java
  BE/src/main/java/com/codesquad/todo8/service/TodoService.java
  BE/src/main/java/com/codesquad/todo8/service/UserService.java
  BE/src/main/resources/application.properties
  BE/src/main/resources/application.yml
  BE/src/main/resources/data.sql
  BE/src/main/resources/schema.sql
  BE/src/test/java/com/codesquad/todo8/service/TodoServiceTest.java
  BE/src/test/java/com/codesquad/todo8/service/UserServiceTest.java
Labels: BE 리뷰요청

#77 카드 ContextMenu 구현, #68 피드백 반영
  iOS/TodoApp/TodoApp.xcodeproj/project.pbxproj
  iOS/TodoApp/TodoApp/EditingCard/ContentTextViewDelegate.swift
  iOS/TodoApp/TodoApp/EditingCard/EditingCardViewController.swift
  iOS/TodoApp/TodoApp/EditingCard/EditingViewModel.swift
  iOS/TodoApp/TodoApp/EditingCard/TitleTextFieldDelegate.swift
  iOS/TodoApp/TodoApp/EditingCard/View/ContentTextView.swift
  iOS/TodoApp/TodoApp/Todo/TodoTableViewDataSource.swift
  iOS/TodoApp/TodoApp/Todo/TodoTableViewDelegate.swift
  iOS/TodoApp/TodoApp/Todo/TodoViewController.swift
  iOS/TodoApp/TodoApp/ViewController.swift
Labels: iOS

#84 메뉴영역 activity 로그 구현
  FE/src/controller/controller.js
  FE/src/index.html
  FE/src/style/style.css
Labels: FE

#87 리팩토링
  iOS/TodoApp/TodoApp.xcodeproj/project.pbxproj
  iOS/TodoApp/TodoApp/Todo/Model/ColumnManager.swift
  iOS/TodoApp/TodoApp/Todo/Model/Task.swift
  iOS/TodoApp/TodoApp/Todo/TodoTableViewDataSource.swift
  iOS/TodoApp/TodoApp/Todo/TodoTableViewDelegate.swift
  iOS/TodoApp/TodoApp/Todo/TodoViewController.swift
  iOS/TodoApp/TodoApp/ViewController.swift
Labels: iOS

#90 API 통신 카드 추가, 수정, 이동, 삭제 구현
  iOS/TodoApp/TodoApp.xcodeproj/project.pbxproj
  iOS/TodoApp/TodoApp/EditingCard/EditingViewModel.swift
  iOS/TodoApp/TodoApp/Model/DataManager.swift
  iOS/TodoApp/TodoApp/Model/NetworkManager.swift
  iOS/TodoApp/TodoApp/Model/TodoData.swift
  iOS/TodoApp/TodoApp/Todo/Model/TodoNetworkManager.swift
  iOS/TodoApp/TodoApp/Todo/TodoViewController.swift
Labels: iOS

#94 드래그앤 드랍 기능 구현
  iOS/TodoApp/TodoApp/Todo/Model/ColumnManager.swift
  iOS/TodoApp/TodoApp/Todo/TodoViewController.swift
Labels: iOS

#110 템플릿 리터럴을 이용해서 목데이터 랜더링
  FE/src/api/TodoRequest.js
  FE/src/components/CardComponent.js
  FE/src/components/ColumnComponent.js
  FE/src/components/HeaderComponent.js
  FE/src/components/LoadingSpinner.js
  FE/src/components/MenuComponent.js
  FE/src/components/ModalComponent.js
  FE/src/controller/controller.js
  FE/src/index.html
  FE/src/main.js
  FE/src/models/MainModel.js
  FE/src/style/style.css
  FE/src/utils/ApiUrl.js
  FE/src/views/TodoView.js
Labels: FE

#112 todo 기능 구현 배포
  FE/src/api/TodoRequest.js
  FE/src/assets/image/cat.jpeg
  FE/src/components/CardComponent.js
  FE/src/components/ColumnComponent.js
  FE/src/components/HeaderComponent.js
  FE/src/components/LoadingSpinner.js
  FE/src/components/MenuComponent.js
  FE/src/components/ModalComponent.js
  FE/src/controller/controller.js
  FE/src/drag.js
  FE/src/index.html
  FE/src/main.js
  FE/src/models/MainModel.js
  FE/src/style/reset.css
  FE/src/style/style.css
  FE/src/utils/ApiUrl.js
  FE/src/views/TodoView.js
Labels: FE

#117 Activities 화면 기능 구현
  iOS/TodoApp/TodoApp.xcodeproj/project.pbxproj
  iOS/TodoApp/TodoApp/Activities/ActivitiesViewController.swift
  iOS/TodoApp/TodoApp/Activities/Model/Activities.swift
  iOS/TodoApp/TodoApp/Activities/Model/ActivityData.swift
  iOS/TodoApp/TodoApp/Activities/View/ActivitiesTableViewCell.swift
  iOS/TodoApp/TodoApp/Base.lproj/Main.storyboard
  iOS/TodoApp/TodoApp/EditingCard/EditingCardViewController.swift
  iOS/TodoApp/TodoApp/Model/DataManager.swift
  iOS/TodoApp/TodoApp/Model/TodoData.swift
  iOS/TodoApp/TodoApp/Todo/TodoViewController.swift
  iOS/TodoApp/TodoApp/ViewController.swift
Labels: iOS
